<section>
  <footer class="footer-container">
    <div class="copyright">
      <p>&copy; 2019 - Joshua C. Iwuchukwu</p>
    </div>
    <div class="social">
      <!--<a routerLink="/contact" class="support">Contact</a>
      <a href="#" class="face">f</a>
      <a href="#" class="tweet">t</a>
      <a href="#" class="linked">in</a>-->
      <ul class="media-list">
        <li class="support">
          <a a routerLink="/contact" >
            Contact
          </a>
        </li>
        <!--<li  class="face">
          <a href="#" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>-->

        <li class="tweet">
          <a href="https://twitter.com/iwugodjoshua" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
         <li class="github">
          <a href="https://github.com/iwugod" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
        <li class="linked">
          <a href="https://www.linkedin.com/in/joshua-iwuchukwu-56a9539a/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>

      </ul>
    </div>

  </footer>
</section>
