
@import './src/_mixins.scss';
@import 'styles.scss';
/* Colors */

$dk-blue: #1E83AE;
$blue: #3D5B94;
$light-blue: #3DACDD;
$green: #16472d;
$footer-green:#d1eed2;
$social-size: 1.2em;
$social-width: 20%;
$gith-hub:#24292e;

footer {
  width: 100%;
  height: 70px;
  min-height: 300px;
  display: flex;
  align-items: center;
  background: $footer-green;
  border: 1px solid #4CAF50;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  .copyright {
    width: 50%;
    float: left;
    @media (max-width: 600px) {
      width: 100%;
    }
    p {
      padding-left: 10%;
      color: $txt-color;
      font-size: 1.2em;
      line-height:1.5em;
      text-transform: capitalize;
      letter-spacing: 1px;
      @media (max-width: 600px) {
        text-align: center;
        padding: 0;
      }
    }
  }
  .social {
      width: 50%;
      //float: right;
      @media (max-width: 600px) {
        width: 100%;
      }
     a {
      //float: left;
      line-height: 2.5em;
      text-decoration: none;
      color: white;
      text-align: center;
      //font-weight: bold;
     @include transition(all, 0.3s);
       &:hover {
         //background-color: #222;
         @include transition(all, .3s);
       }
    }

    .media-list {
      list-style-type: none;
      display: flex;
      justify-content:space-around;
      //align-items: center;
      font-size: 1.5em;
      line-height: 2em;
      text-align: center;

    }
  }
   @include  respond-to(mobile){
        flex-wrap: wrap;
        width: auto;
    }
}

.linked {
  background-color: $dk-blue;
  font-size: $social-size;
  width: $social-width;
}

.github {
  background-color:$gith-hub ;
  font-size: $social-size;
  width: $social-width;
}

.face {
  background-color: $blue;
  font-size: $social-size;
  width: $social-width;
}

.tweet {
  background-color: $light-blue;
  font-size: $social-size;
  width: $social-width;
}

.support {
  background-color: $txt-hover;
  //padding: 10px 0;
  width: 40%;
}
