@import './src/_mixins.scss';
@import './src/styles.scss';

.mobile-menu {
    display: block;
    background: transparent;
    line-height: 1.6em;
    font-weight: 400;
    width: 100%;
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid $primary-color;
    margin-bottom: 30px;
    .menu-wrap {
        width: 1500px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    /*Strip the ul of padding and list styling*/
    ul {
        list-style-type: none;
        padding-left: 0;
        position: relative;
        /*Create a horizontal list with spacing*/
        li {
            display: inline-block;
            font-size: 1.5em;
            line-height: 3em;
            /*Style for menu links*/
            a {
                display: block;
                min-width: 140px;
                text-align: center;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; //color: #fff;
                text-transform: uppercase; //background: #8aa8bd;
                background: $white-color;
                text-decoration: none;
                margin-left: -5px;
                -webkit-transition: all 0.4s ease 0s;
                -moz-transition: all 0.4s ease 0s;
                -ms-transition: all 0.4s ease 0s;
                -o-transition: all 0.4s ease 0s;
                transition: all 0.4s ease 0s;
            }
            /*Hover state for top level links*/
            &:hover,
            :focus a {
                color: $txt-hover;
                background-color: $white-color;
            }
            /*Hide dropdown links until they are needed*/
            ul {
                display: none;
                /*Make dropdown links vertical*/
                li {
                    display: block;
                    float: none;
                    /*Prevent text wrapping*/
                    a {
                        width: auto;
                        min-width: 100px;
                        padding: 0 20px;
                    }
                }
            }
        }
        /*Style for dropdown links*/
        a {
            background: $white-alt;
            color: $txt-color;
            /*Hover state for dropdown links*/
            &:hover,
            :focus {
                color: $txt-hover;
            }
        }
    }
    /*Style 'show menu' label button and hide it by default*/
    .show-menu {
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 2em;
        line-height: 2em;
        padding: 0 0 0 10px;

        a {
          color: $txt-color;
          text-decoration: none;
           &:hover, :focus{
             color:$txt-hover;
          }
        }
    }
    /*Hide checkbox*/
    input[type=checkbox] {
        display: none;
    }
    /*Show menu when invisible checkbox is checked*/
    input[type=checkbox]:checked~#menu {
        display: block;
    }
    @include respond-to(mobile) {
        background: $primary-color;
        color: $white-color;
        margin-bottom: 0;
        .menu-wrap {
            width: 100%;
            display: block;
        }
        .show-menu {
            font-size: 1em;
            line-height: 4em;
            padding: 0 10px;
            text-align: left;

            a {
            color: $white-color;
            text-decoration: none;
            &:hover, :focus{
              color:$white-alt;
            }
          }
        }
        .lines {
            border-bottom: 15px double $white-alt;
            border-top: 5px solid $white-alt;
            content: "";
            height: 5px;
            width: 20px;
            position: absolute;
            top: 15px;
            right: 10px;
            padding: 4px 15px;
        }
        /*Make dropdown links appear inline*/
        ul {
            position: absolute;
            display: none;
            z-index: 1;
            background:$white-color;
            /*Create vertical spacing*/
            li {
                margin: 0;
                width: 100%;
                a {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
        /*Display 'show menu' link*/
        .show-menu {
            display: block;
        }
    }
}
