
<nav class="mobile-menu">
  <div class="menu-wrap">
    <label for="show-menu" class="show-menu">
      <a routerLink="/"><span>Iwuchukwu C. Joshua</span></a><div class="lines"></div>
    </label>

    <input type="checkbox" id="show-menu">
    <ul id="menu">
      <li><a routerLink="/">About</a></li>
          <li><a routerLink="project">Project</a></li>
          <li><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<app-footer></app-footer>
