<section class="container">

  <div class="home-wrapper">
    <div class="left-box intro-msg">
      <p class="msg-header">WELCOME TO MY WOLRD,</p>
      <P class="intro-me">I play with letters and numbers. in my imagination there are no boundaries, my game is to create what you see, use
        and explorer. I'm a software engineer who specialises Mean Stack, Frontend development and some touch of Backend
        development. Thriving on challenges has been one of the interesting things about me. My passsion is to make your
        immagination come true in the virtual world through websites, webapps both desktop and mobile. Who thought the human
        mind could explore the CLOUD?</P>
      <a href="mailto:#" class="btn btn-touch">
            Say hello
      </a>
    </div>
    <div class="right-box img-cont">
      <img src="../../assets/images/hh.jpg" alt="josh-img" class="home-img" />
    </div>
  </div>
  <!--About Starts here-->
  <div class="about-container">
    <h2 class="txt-title">A little more about Joshua</h2>
    <div class="content">
      <div class="left-box about-left">
        <div class="header-title">
          <span class="box-blue"><i class="fa fa-code"></i></span>
          <span class="box-title">LANGUGES I USE</span>
        </div>
        <div class="img-wrap">
          <img src="../assets/images/code.jpg" class="profile-pic" alt="josh" />
        </div>
      </div>

      <div class="right-box about-right">
        <div class="header-title">
          <span class="box-blue"><i class="fa fa-eye"></i></span>
          <span class="box-title">WHOM I AM</span>
        </div>
        <div class="short-intro">
          <p class="title-desc"> I’m a Front End Develpoer and UI Designer Based in Mauritius. I have a passion for creating clean, beautiful, interactive,
            minimalistic, responsive and user friendly applications. My interest in designing and developing engaging user
            interfaces is what drove me to specialise in Frontend Development. Scalable and Functional Coding practise are
            rules I adher to. Since beginning my journey as a freelance and expatraite frontend engineer for over 4 years,
            I've done remote work for agencies, consulted for startups, and collaborated with talented people to create
            digital products for both business and consumer use. I'm quietly confident, naturally curious, and strive for
            improvement
          </p>

          <button (click)="downloadCv()" class="btn btn-touch">Download Resume</button>
          <button (click)="viewCv()" class="btn btn-touch">View Resume</button>
        </div>
      </div>
    </div>

    <div id="bars" class="sk-set">
      <div class="bar" data-percent="80">
        <h3>CSS3</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

      <div class="bar" data-percent="75">
        <h3>SCSS</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

      <div class="bar" data-percent="80">
        <h3>HTML5</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

      <div class="bar" data-percent="85">
        <h3>JavaScript</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

      <div class="bar" data-percent="88">
        <h3>Jquery</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

      <div class="bar" data-percent="90">
        <h3>AngularJs</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

      <div class="bar" data-percent="70">
        <h3>Angular</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

      <div class="bar" data-percent="88">
        <h3>React</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

      <div class="bar" data-percent="78">
        <h3>Redux</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

      <!--<div class="bar" data-percent="90">
        <h3>Gulp</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

      <div class="bar" data-percent="90">
        <h3>Grunt</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>-->

      <div class="bar" data-percent="88">
        <h3>Webpack</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

      <div class="bar" data-percent="88">
        <h3>Php</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

      <div class="bar" data-percent="60">
        <h3>Razor</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

       <div class="bar" data-percent="60">
        <h3>C#</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

       <div class="bar" data-percent="60">
        <h3>MySql</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

       <div class="bar" data-percent="60">
        <h3>Sql</h3>
        <canvas class="bar-circle" width="70" height="70"></canvas>
      </div>

    </div>

  </div>

  <!-- About Ends here-->

</section>
